.button {
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-background-radius: 20;
    -fx-background-color: rgba(0,0,0,0);
        -fx-border-color: #ffffff;
        -fx-border-radius: 20;
        -fx-border-width: 3;

}

.Pane{
    -fx-background-color: linear-gradient(from 0% 50% to 80% 100%,  #4C6AB7, #5cc6e4);
}


.JFXPasswordField {
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-prompt-text-fill: #ffffff
 
}

